{% extends 'core/base.html' %}{% load static %}{% load i18n %}
{% block head_title %}{% trans 'Edit profile' %}{% endblock %}
{% block content %}
<div id="content" class="no_main">
	<h1>{% trans 'Edit profile of' %} {% if form.instance.is_staff %}{{ form.instance }}{% else %}{{ form.instance.org_name }}{% endif %}</h1>
    <form id="login_form" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input id="login_form_submit" type="submit" value="{% trans 'Save' %}">
    </form>
</div>
{% endblock %}