{% extends 'core/base.html' %}{% load static %}{% load i18n %}
{% block head_title %}{% trans 'Change password' %}{% endblock %}
{% block content %}
<div id="content" class="no_main">
    <h1>{% trans 'Changing password of' %} {% if user.is_staff %}{{ user.username }}{% else %}{{ user.org_name }}{% endif %}</h1>
    <form id="passwd_change_form" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="g-recaptcha" data-sitekey="6LduStwmAAAAAMQDxoaPUWl2PsRqsPq5SO6u3mnl" data-callback="onSubmit" data-size="invisible"></div>
        <table>
            <tr>
                <td><input id="passwd_change_form_submit" type="submit" value="{% trans 'Change password' %}"></td>
                <td style="text-align: right"><a href="{% url 'orders_list' %}">{% trans 'Cancel' %}</a></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}