{% extends "core/base.html" %}{% load static %}{% load i18n %}

{% block head_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div id="content" class="no_main">
    <div class="centered_links">
        <h2>{% trans "Reset password" %}</h2>
        <p>
            {% trans 'Please enter (and confirm) your new password.' %}
        </p>
    </div>
    <form id="passwd_change_form" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="g-recaptcha" data-sitekey="6Lc6AkAUAAAAALYtA6sKTUWTldN7RuW1Auv8fPyu" data-callback="onSubmit" data-size="invisible"></div>
        <table>
            <tr>
                <td><input type="submit" value="{% trans 'Reset password' %}" /></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
