{% extends 'core/base.html' %}{% load static %}{% load i18n %}
{% block head_title %}{% trans 'Sign up' %}{% endblock %}
{% block content %}
<div id="content" class="no_main">
	<h1>{% trans 'Sign up' %}</h1>
    <form id="login_form" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="g-recaptcha" data-sitekey="6Lc6AkAUAAAAALYtA6sKTUWTldN7RuW1Auv8fPyu" data-callback="onSubmit" data-size="invisible"></div>
        <input id="login_form_submit" type="submit" value="{% trans 'Save' %}">
    </form>
</div>
{% endblock %}