{% extends 'core/base.html' %}{% load static %}{% load i18n %}
{% block head_title %}Личный кабинет{% endblock %}
{% block content %}
<div id="content" class="no_main">
    {% if request.user.is_staff %}
    <h1>{% trans 'Management account' %}</h1>
    {% else %}
    <h1>{% trans 'Account of' %} {{ request.user.org_name }}</h1>
    {% endif %}
    <div class="centered_links">
        <div>
            <a href="{% url 'edit_profile' %}">{% trans 'Edit profile' %}</a>
            <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
            <a href="{% url 'order' %}">{% trans 'New order' %}</a>
        </div>
    </div>
    <div class="orders_list">
    {% if object_list %}
        <table>
            <thead>
                <tr>
                    <td>{% trans 'Order number' %}</td>
                    <td>{% trans 'Order date' %}</td>
                    <td>{% trans 'Date of pickup' %}</td>
                    <td>{% trans 'Status' %}</td>
                    <td>{% trans 'Date of delivery' %}</td>
{#                    <td>{% trans 'Docs sent' %}</td>#}
                    <td>{% trans 'Payer' %}</td>
                    <td>{% trans 'Sender' %}</td>
                    <td>{% trans 'Pickup address' %}</td>
                    <td>{% trans 'Cargo spaces' %}</td>
                    <td>{% trans 'Cargo weight, kg' %}</td>
                    <td>{% trans 'Cargo volume, m3' %}</td>
                    <td>{% trans 'Receiver' %}</td>
                    <td>{% trans 'Delivery address' %}</td>
{#                    <td>{% trans 'Loading/unloading required' %}</td>#}
{#                    <td>{% trans 'Extra services' %}</td>#}
                    <td>{% trans 'Transit price, rub' %}</td>
                    <td>{% trans 'Cargo value' %}</td>
{#                    <td>{% trans 'Insurance bill number' %}</td>#}
                    <td>{% trans 'Insurance price, rub' %}</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                <tr>
                    <td><a href="{% url 'order_detail' pk=order.pk %}">{{ order.order_number }}</a></td>
                    <td>{{ order.order_date|date:"d.m.Y" }}</td>
                    <td>{% if order.pickup_date %}{{ order.pickup_date|date:"d.m.Y" }}{% else %}-{% endif %}</td>
                    <td>{{ order.statuses.last.label }}</td>
                    <td>{% if order.delivery_date %}{{ order.delivery_date|date:"d.m.Y" }}{% else %}-{% endif %}</td>
{#                    <td>{{ order.get_docs_sent_display }}</td>#}
                    <td>{{ order.payer_name }}</td>
                    <td>{{ order.sender_name }}</td>
                    <td>{{ order.from_addr }}</td>
                    <td>{{ order.cargo_spaces }}</td>
                    <td>{{ order.cargo_weight|floatformat:-2 }}</td>
                    <td>{{ order.cargo_volume|floatformat:-2 }}</td>
                    <td>{{ order.receiver_name }}</td>
                    <td>{{ order.to_addr }}</td>
{#                    <td>{% if order.load_unload %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</td>#}
{#                    <td>{% if order.extra_services.exists %}{{ order.extra_services.all|join:", " }}{% else %}-{% endif %}</td>#}
                    <td>{{ order.order_price|floatformat:-2 }}</td>
                    <td>{{ order.cargo_value|floatformat:-2 }}</td>
{#                    <td>{% if order.insurance and order.insurance_number %}{{ order.insurance_number }}{% else %}-{% endif %}</td>#}
                    <td>{% if order.insurance and order.insurance_price %}{{ order.insurance_price|floatformat:-2 }}{% else %}-{% endif %}</td>
                    <td><a href="{% url 'order' %}?repeat={{ order.pk }}">{% trans 'Repeat order' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>{% trans 'There are no orders yet' %}</h3>
    {% endif %}
    </div>
</div>
{% endblock %}