{% extends 'mailer/base_wide.html' %}{% load i18n %}{% load l10n %}
{% block mail_header %}{% trans 'Request for registry bill issue' %}{% endblock %}
{% block mail_content %}
    <table>
        <tr>
            <td width="100%" style="width: 100%">
                <p><b>{{ user.first_name }} {{ user.last_name }}</b> {% trans 'has sent you the request to issue registry bill:' %}</p>
                <p><b>{% trans 'Bill #' %}:</b> {{ bill_number|unlocalize }}</p>
                <p><b>{% trans 'Bill date' %}:</b> {{ bill_date|date:"d.m.Y" }}</p>
                <p><b>{% trans 'Payer' %}:</b> {{ payer }}</p>
                <p><b>{% trans 'Payer TIN' %}:</b> {{ payer_id }}</p>
            </td>
        </tr>
        <tr>
            <td width="100%" style="width: 100%">
                <table style="background: #fafafa; border-collapse: collapse; border: 1px solid #452f7f; border-radius: 3px">
                    <thead>
                        <tr>
                            <th style="white-space: nowrap; border: none; padding: 5px; background: #d27109; color: #fafafa">{% trans 'Service name' %}</th>
                            <th style="white-space: nowrap; border: none; padding: 5px; background: #d27109; color: #fafafa">{% trans 'Price, RUB' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in queryset %}
                        <tr style="text-align: start">
                            <td style="border: 1px solid #452f7f; padding: 5px">
                                {% trans 'Forwarding services' %} {{ order.sender_addr }} - {{ order.receiver_addr }}
                                {% if order.load_unload %}{% trans 'with loading and unloading operations' %}{% endif %}
                                ({% trans 'Receipt No.' %} {{ order.order_number|unlocalize }} {% trans 'dated' %} {{ order.pickup_date|date:"d.m.Y" }}{% if order.cargo_spaces %}, {% trans 'Num. of places' %}: {{ order.cargo_spaces }}{% endif %}{% if order.cargo_volume %}, {{ order.cargo_volume|floatformat:-2 }} {% trans 'm' %}&sup3;{% endif %}{% if order.cargo_weight %}, {{ order.cargo_weight|floatformat:-2 }} {% trans 'kg' %}{% endif %})
                                {% if order.extra_services.exists %}<br>{% trans 'Extra services' %}: {{ order.extra_services.all|join:", " }}{% endif %}
                            </td>
                            <td style="border: 1px solid #452f7f; padding: 5px">
                                {{ order.order_price|floatformat:-2 }}
                            </td>
                        </tr>
                        {% if order.insurance %}
                        <tr style="text-align: start">
                            <td style="border: 1px solid #452f7f; padding: 5px">{% trans 'Insurance policy No.' %} {{ order.insurance_number|unlocalize }} ({% trans 'Receipt No.' %} {{ order.order_number|unlocalize }} {% trans 'dated' %} {{ order.pickup_date|date:"d.m.Y" }})</td>
                            <td style="border: 1px solid #452f7f; padding: 5px">{{ order.insurance_price|floatformat:-2 }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr style="text-align: start">
                            <td style="border: 1px solid #452f7f; padding: 5px; text-align: right; font-weight: bold">{% trans 'Total' %}</td>
                            <td style="border: 1px solid #452f7f; padding: 5px">{{ sum_price|floatformat:-2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}