{% extends 'core/sub_menu.html' %}
{% block sub_content %}{% load static %}
<h1>Перевозки медицинского<br>оборудования с CARGO&nbsp;ЛОГИКА</h1>
<br>
<h3>Мы бережно и быстро перевозим грузы своих клиентов всеми видами транспорта по всему миру.</h3>
<h3>CARGO ЛОГИКА - внештатный отдел логистики для Вашего бизнеса.</h3>
<div id="photo_blocks">
    {% for photo_block in photo_blocks %}
    <div class="photo_block" >
        <div class="photo">
            <img src="{{ photo_block.img.url }}" alt="{{ photo_block.title }}">
        </div>
        <div class="text">
            <h3>{{ photo_block.title }}</h3>
            <p>{{ photo_block.text }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<h1>Наши услуги</h1>
<div id="services">
    {% for icon_block in icon_blocks %}
    <div class="service">
        <div class="landing_img">
            <img src="{{ icon_block.img.url }}" alt="{{ icon_block.title }}">
        </div>
        <div>
            <h3>{{ icon_block.title }}</h3>
            <p>{{ icon_block.text }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}