{% extends 'core/base.html' %}
{% block content %}{% load static %}
<div id="header">
    <div id="header_content">
        <div id="plates">
            <a href="{% url 'calc' %}">
                <div class="dark_plate">
                    <h1>Запросить стоимость</h1>
                    <div class="row">
                        <p>Узнать ориентировочную стоимость вашего отправления - быстро и легко</p>
                        <div class="next_btn">
                            <img src="{% static '/img/next.svg' %}" alt="Далее">
                        </div>
                    </div>
                </div>
            </a>
            <a href="{% url 'order' %}">
                <div class="dark_plate green">
                    <h1>Оформить заявку</h1>
                    <div class="row">
                        <p>Выберите все нужное вам, мы сделаем остальное</p>
                        <div class="next_btn" style="" >
                            <img src="{% static '/img/next.svg' %}" alt="Далее">
                        </div>
                    </div>
                </div>
            </a>
            <div class="dark_plate">
                <h1>Отследить груз онлайн</h1>
				<p>Проверить статус доставки</p>
                <form id="status_form" method="post">
                    {% csrf_token %}
                    {{ form.order_num }}
                    <button type="submit">
                        <img src="{% static '/img/next.svg' %}" alt="Далее">
                    </button>
                </form>
            </div>
            <a href="{% url 'feedback' %}">
                <div class="dark_plate">
                    <h1>Обратная связь</h1>
                    <div class="row">
                        <p>Мы становимся лучше благодаря вам и ради вас</p>
                        <div class="next_btn">
                            <img src="{% static '/img/next.svg' %}" alt="Далее">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="content">
    <h1>Наши услуги</h1>
    <div id="services">
        {% for icon_block in icon_blocks %}
        <div class="service">
            <div class="landing_img">
                <img src="{{ icon_block.img.url }}" alt="{{ icon_block.title }}">
            </div>
            <div>
                <h3>{{ icon_block.title }}</h3>
                <p>{{ icon_block.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}