{% extends 'core/base.html' %}
{% block head_title %}Наши проекты{% endblock %}
{% block content %}{% load static %}
<div id="content" class="no_main">
	<h1>Наши проекты</h1>
    <div id="projects">
        <div class="project">
			<img src="{% static '/img/projects/08-01-2023-1.jpeg' %}">
		</div>
        <div class="project">
			<img src="{% static '/img/projects/2023-05-03-1.jpeg' %}">
		</div>
        <div class="project">
			<img src="{% static '/img/projects/08-01-2023-2.jpeg' %}">
		</div>
        <div class="project">
			<img src="{% static '/img/projects/08-01-2023-3.jpeg' %}">
		</div>
        <div class="project">
			<img src="{% static '/img/projects/08-01-2023-4.jpeg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/01.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/02.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/2022-10-10-1.jpeg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/2022-10-10-2.jpeg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/2022-10-10-3.jpeg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/2022-10-10-4.jpeg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/04.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/07.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/08.jpg' %}">
		</div>
{#		<div class="project">#}
{#			<img src="{% static '/img/projects/09.jpg' %}">#}
{#		</div>#}
		<div class="project">
			<img src="{% static '/img/projects/10.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/11.jpg' %}">
		</div>
		<div class="project">
			<img src="{% static '/img/projects/12.jpg' %}">
		</div>
{#		<div class="project">#}
{#			<img src="{% static '/img/projects/13.jpg' %}">#}
{#		</div>#}
		<div class="project">
			<img src="{% static '/img/projects/14.jpg' %}">
		</div>
	</div>
</div>
{% endblock %}