{% extends 'mailer/base_wide.html' %}{% load i18n %}{% load l10n %}
{% block mail_header %}{% trans 'Thank you for registration on cargo-logika.ru!' %}{% endblock %}
{% block mail_content %}
    <table>
        <tr>
            <td width="100%" style="width: 100%; text-align: left">
                {% blocktrans %}Greetings{% endblocktrans %}.
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td width="100%" style="width: 100%; text-align: left">
                {% trans "You've been registered as representative of" %} {{ user.org_name }}.
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td width="100%" style="width: 100%; text-align: left">
                {% trans "We're glad to have you with us." %}
            </td>
        </tr>
        <tr>
            <td width="100%" style="width: 100%; text-align: left">
                {% trans "If you see this email, it means that you have registered correctly and are able to use full functionality of our site" %}
            </td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td width="100%" style="width: 100%; text-align: left">
                {% trans "Have a nice day!" %}
            </td>
        </tr>
    </table>
{% endblock %}